<<<<<<< HEAD
body { 

    font-family: Arial, sans-serif; 

    text-align: center; 

} 

#mood-container { 

    margin: 20px 0; 

    font-size: 24px; 

} 
=======
body { 

    font-family: Arial, sans-serif; 

    text-align: center; 

} 

#mood-container { 

    margin: 20px 0; 

    font-size: 24px; 

} 
>>>>>>> be8aaccbed24cd8fcb41c08a0de3a8e5cb4304b0
